name: Build documentation (don't publish)

on:
  pull_request:
      branches: [ main ]
  
jobs:
  build:
    if: '! github.event.pull_request.draft'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
        
    - name: Install modelskill
      run: |
        pip install .[dev]
    
    - name: Mkdocs build
      run: mkdocs build

    - name: Upload documentation
      uses: actions/upload-artifact@v2
      with:
        name: html
        path: site/